@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">
        <a class="link" style="color: rgb(0, 98, 137);" asp-action="Index" asp-controller="PointManager">Start a New game</a></h1>
    
</div>
